<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thorn.wego">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".User.Login.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".User.Register.RegisterActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".Location.PositionDetail.PositionDetailActivity"/>
        <activity android:name=".Location.PositionDetail.MapNavigationActivity"/>
        <activity android:name=".Life.Other.WeatherForecastActivity"/>
        <activity android:name=".Life.Other.TranslationActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".Life.Other.UberActivity"/>
        <activity android:name=".User.UserHome.UserHomeActivity"/>
        <activity android:name=".User.UserList.UserListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".Life.News.NewsActivity"/>
        <activity android:name=".Life.News.NewsDetailActivity"/>
        <activity android:name=".Location.PositionList.FavoriteListActivity"/>
        <activity android:name=".Location.PositionList.HistoryListAcitivity"/>
        <activity android:name=".Location.PositionList.SearchListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".Location.PositionList.DiscoverListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".Location.PositionList.SelectPositionActivity"/>

    </application>

</manifest>